.about {
  margin-bottom: 40px;
}

.header {
  height: 45vh;
  background: rgb(2,0,18);
background: linear-gradient(180deg, rgba(0,0,0,1) 98%, rgba(0,0,0,0.4234068627450981) 99%, rgba(0,0,0,0) 100%);
  color: white;
}

.about h2 {
  color: #007bff;
}

.about p {
  font-size: 20px;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-member h3 {
  margin-top: 10px;
}

.team-member p {
  font-size: 16px;
}

