/* Add your custom CSS styles here */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 200px;
  height: 100px;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  background-attachment: fixed;
  padding: 128px 16px;
  height: 75vh;
}

.gradient

/* resulting css */
  {
  background: linear-gradient(50deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 0, 0));
}

.gradient-animation {
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero-text {
  flex: 1;
  margin-right: 20px;
}

.hero-image {
  flex: 1;
  margin-left: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.hero-button:hover {
  background-color: rgb(174, 233, 230);
  color: black;
  border: black solid 2px;
  text-decoration: underline;
  /* font-size: large; */
  /* font-family: monospace; */
}

.btn-change6 {
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #31708f inset;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
}

.feature-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.shadow-custom-sm {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.shadow-custom-lg {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  --bs-card-border-color: rgba(0, 0, 0, 0);
  --bs-card-bg: rgb(0, 0, 0);
}

.expand-fill {
  height: 90vh;
}

.hero_container {
  background-image: url('../images/doctor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
}

.w3-local-purple {
  color: #fff;
  background-color: rgb(156, 39, 176, 0.8);
}

.vh-90 {
  height: 80vh;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
